.App {
  text-align: center;
}

.App-header {
  background-color: #201f27;
  min-height: 15vh;
  padding-left: 80px;
  display: flex;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-middle {
  background-color: #0c0c0e;
  min-height: 90vh;
  display: flex;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-button {
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
